<ul class="cards">
	<li id="card-{{ card.id }}" class="card-wrapper" ng-repeat="card in cards" >
		<div class="card-header">
			<p class="card-date">{{ card.date | date:'EEE, MMM d, yyyy' }}</p>
		</div>
		<div class="card">
			<a class="pull-left" href="#/user/{{ card.recipients[0].userName }}">
			  <img class="media-object" src="http://placehold.it/64x64" alt="{{ card.from.name }}">
			</a>
			<div class="media-body">
				<h4 class="media-heading">Props to <a href="#/user/{{ card.recipients[0].userName }}">{{ card.recipients[0].firstName + " " + card.recipients[0].lastName }}</a> for</h4>
				<p class="message"><a href="#/card/{{ card.id }}">{{ card.message }}</a></p>
			</div>
		</div>
		<div class="card-footer">
			<p class="comments">
				<a href="#/comment/{{ card.id }}">
					<i class="icon-comment icon-flip-horizontal"></i>
				</a>
			</p>
			<p class="from">From <a href="#/user/{{ card.senders[0].userName }}">{{ card.senders[0].firstName + " " + card.senders[0].lastName }}</a></p>
		</div>
	</li>
</ul>