<div class="create">
	<form role="form" class="create-form" ng-controller="CreateCardCtrl" ng-submit="createCard(card)">
		<legend>Create</legend>
		<button type="button" class="btn btn-danger btn-cancel" ng-click="cancel()">x</button>
	  <div class="form-group">
	    <label for="props-to">Props To</label>
	    <input type="text" class="form-control recipients" name="recipients" ng-model="card.recipients" ng-list required handle-users-query />
	  </div>
	  <div class="form-group">
	    <label for="message">Message</label>
	    <textarea class="form-control message" name="message" rows="3" ng-model="card.message" required>
	    </textarea>
	  </div>
		<div class="form-group">
			<label for="props-from">From</label>
			<p>
				<i class="icon-user"></i> Shan Du
				<input type="hidden" class="form-control senders" name="senders" ng-model="card.senders" ng-list required />
			</p>
		</div>
		<button type="button" class="btn btn-default btn-lg disabled">Preview</button>
	  <button type="submit" class="btn btn-default btn-lg">Send</button>	  
	</form>
</div>