<div class="create">
	<form role="form" class="create-form" name="createForm" ng-submit="createCard(card)">
		<legend>Create</legend>
		<button type="button" class="btn btn-danger btn-cancel" ng-click="cancel()">x</button>
	  <div class="form-group">
	    <label for="props-to">Props To</label>
			<div class="input-group">
				<span class="input-group-addon"><i class="icon-user"></i></span>
				<input type="text" class="form-control recipients" name="recipients" ng-model="card.recipients" ng-list required handle-users-query />
			</div>
	  </div>
	  <div class="form-group">
	    <label for="message">Message</label>
	    <textarea class="form-control message" name="message" rows="3" ng-model="card.message" required>
	    </textarea>
	  </div>
		<div class="form-group">
			<label for="props-from">From</label>
			<div class="input-group">			
				<span class="input-group-addon"><i class="icon-user"></i></span>
				<input type="text" class="form-control" disabled ng-model="card.senders" ng-list />
			</div>
		</div>
		<p class="create-error alert-danger" ng-show="createForm.recipients.$dirty && createForm.$error.createFail">Oops, something went wrong...</p>
		<button type="button" class="btn btn-default btn-lg disabled">Preview</button>
	  <button type="submit" class="btn btn-default btn-lg">Send</button>	  
	</form>
</div>