$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

$FontAwesomePath: "../bower_components/font-awesome/font/";
@import "font-awesome/scss/font-awesome";

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);

/* Colour Variables */
$white: #FFFFFF;
$black: #000000;
$darkGray: #848589;
$lightGray: #DBDBDB;
$teal: #44D6D8;

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: $white;
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: "Oxygen", sans-serif;
    color: $black;
}

.cards {
    //@extend .row;
    @extend .media-list;

    .card {
        //@extend .col-xs-12;
        @extend .media;

        border-bottom: 9px solid $lightGray;
        margin-bottom: 10px;
        color: $lightGray;

        a {
            color: $darkGray;
        }
    }

    .media-object {
        @extend .img-circle;
        //@extend .img-responsive;
    }
}
