$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

$FontAwesomePath: "../bower_components/font-awesome/font/";
@import "font-awesome/scss/font-awesome";

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);

/* Colour Variables */
$white: #FFFFFF;
$black: #000000;
$darkGray: #848589;
$lightGray: #DBDBDB;
$teal: #44D6D8;

/* Put your CSS here */
html, body {
  //margin: 20px;
}

body {
    background: $black;
    font-family: "Oxygen", sans-serif;
    padding-top: 140px;
    color: $black;

    &.create-card {
        padding-top: 0;
    }
}

/* Resetting some styles */
ul {
    margin: 0;
    padding: 0;
}

#navigation {
    @extend .row;
    background-color: $white;

    .controls {
        @extend .navbar-header;
        @extend .col-xs-12;
        @extend .col-sm-6;
        @extend .col-md-6;
        @extend .col-lg-6;
        background-color: $teal;

        .btn-default {
            border-radius: 0;
            border-left: 0;
            text-transform: uppercase;
            background-color: $teal;
            border-color: $black;
        }
    }

    .filters {
        @extend .col-xs-12;
        @extend .col-sm-6;
        @extend .col-md-6;
        @extend .col-lg-6;
        background-color: $white;
        color: $darkGray;

        .search {
            @extend .pull-left;
            margin: 0;
        }

        .sort {
            @extend .pull-right;
            margin: 0;
            width: 30%
        }
    }
}

.create-card {
    #navigation {
        display: none;
    }
}

.cards {
    @extend .row;

    .card-wrapper {
        @extend .col-xs-12;
        @extend .col-sm-4;
        @extend .col-md-4;
        @extend .col-lg-4;
    }

    .card {
        @extend .media;

        border-bottom: 9px solid $lightGray;
        margin-bottom: 20px;
        padding: 10px;
        color: $darkGray;
        background-color: $white;

        a {
            color: $black;
        }
    }

    .media-object {
        @extend .img-circle;
    }
}

.create {
    @extend .row;
    color: $teal;

    .create-form {
        @extend .col-xs-12;
    }

    .btn-default {
        background-color: $teal;
        border-radius: 0;
    }
}
.profile {
    text-align: center;
    padding: 10px;
    h3 {
        color: $teal;
    }
}
